/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- imports ---- */
/*@import url(https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css);*/
/*@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);*/


/* ---- base ---- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 2px solid red;*/
}

html,body{
  width: 100%;
}

body{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #f8f8f8;
}




/* ---- My Classes ---- */
.navbar-nav{
  text-align: center;
  list-style: none;
}

.navbar-nav li{
  display: inline-block;
}
.navbar-brand img{
  width: 60px;
  display: inline-block;
}

/* ---- Nav ----*/


/* ---- Main ----*/
